body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1001; /* чтобы кнопка была выше всех элементов */
}

.menu {
    display: none;
    position: absolute;
    top: 60px; /* ниже заголовка */
    right: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease;
    height: 100%;
    width: 300%; /* Три слайда */
}

.slide {
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
